.validator > .fa {
    position: absolute;
    right: 40px; /*5%;*/
    z-index: 999999;
    margin-top: -25px;
}
.validator > p {
    font-size: 12px;
    float: right;
    margin: 0;
    width: 100%;
    text-align: right;
}