<div class="text-center fadeIn slow animated registration">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <page-title class="text-uppercase" [title]="'Reg&iacute;strate'"
                        [subtitle]="'Reg&iacute;strate para poder realizar las compras de tus eventos deportivos preferidos'">
            </page-title>
            <form *ngIf="!saved" [formGroup]="registrationForm" (ngSubmit)="sendRegister()" #formReg="ngForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="step justify-content-md-center my-auto">
                            <div class="number bg-info justify-content-md-center my-auto">
                                <i class="fa fa-user"></i>
                            </div>
                            <p class="text">
                                Datos b&aacute;sicos
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="name">Documento</label>
                            <input type="text" required maxlength="10" minlength="5" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="document" name="document" formControlName="textDocument" placeholder="">

                            <validator [field]="form.textDocument"></validator>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombres</label>
                            <input type="text" required maxlength="50" class="form-control" id="name" formControlName="textName" placeholder="">

                            <validator [field]="form.textName"></validator>
                        </div>
                        <div class="form-group">
                            <label for="surname">Apellidos</label>
                            <input type="text" required maxlength="50" class="form-control" id="surname" formControlName="textSurname" placeholder="">

                            <validator [field]="form.textSurname"></validator>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="step justify-content-md-center my-auto">
                            <div class="number bg-info justify-content-md-center my-auto">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <p class="text">
                                Datos de contacto
                            </p>
                        </div>
                        <!--<div class="form-group">
                            <label for="address">Direcci&oacute;n</label>
                            <input type="text" required maxlength="100" class="form-control" id="address" formControlName="textAddres" placeholder="">

                            <validator [field]="form.textAddres"></validator>
                        </div>-->
                        <div class="form-group">
                            <label for="phone">Tel&eacute;fono</label>
                            <input type="text" required maxlength="15" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="phone" formControlName="textPhone" placeholder="">

                            <validator [field]="form.textPhone"></validator>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electr&oacute;nico</label>
                            <input type="email" required maxlength="20" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" class="form-control" id="email" formControlName="textEmail" placeholder="">

                            <validator [field]="form.textEmail"></validator>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="step justify-content-md-center my-auto">
                            <div class="number bg-info justify-content-md-center my-auto">
                                <i class="fa fa-lock"></i>
                            </div>
                            <p class="text">
                                Seguridad y Compras
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="password1">Contrase&ntilde;a</label>
                            <div class="psw-description">
                                {{typepsw == 'text' ? 'Contraseña visible': ''}}
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend" (click)="changeTypePws()" style="cursor:pointer">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': typepsw == 'password', 'fa-eye': typepsw == 'text'}"></i>
                                    </span>
                                </div>
                                <input [type]="typepsw" required maxlength="20" class="form-control" id="password1" formControlName="textPassword1" placeholder="">
                            </div>
                            <validator [field]="form.textPassword1"></validator>
                        </div>
                        <div class="form-group">
                            <label for="creditcard">N&uacute;mero de tarjeta de cr&eacute;dito</label>
                            <div class="card-description">
                                {{cardtype}}
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                </div>
                                <input type="text" required maxlength="20" minlength="14" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="creditcard" (keyup)="getCreditCardType($event.target.value)" formControlName="textCreditCard" placeholder="">
                            </div>
                            <validator [field]="form.textCreditCard"></validator>
                        </div>
                        <!--<div class="form-group">
                            <label for="lastdate">Mes / A&ntilde;o de expiraci&oacute;</label>
                            <div class="form-row">
                                <div class="col">
                                    <select required class="form-control" id="month" formControlName="cmbCreditMonth">
                                        <option value="{{item.id}}" *ngFor="let item of getMonths()">{{item.description}}</option>
                                    </select>

                                    <validator [field]="form.cmbCreditMonth"></validator>
                                </div>
                                <div class="col">
                                    <select required class="form-control" id="year" formControlName="cmbCreditYear">
                                        <option value="{{item.id}}" *ngFor="let item of getYears()">{{item.description}}</option>
                                    </select>

                                    <validator [field]="form.cmbCreditYear"></validator>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cv">C&oacute;digo de verificaci&oacute;n (CVV)</label>
                            <div class="form-row">
                                <div class="col">
                                    <input type="number" required maxlength="5" class="form-control" id="cvv" formControlName="textCreditCvv" placeholder="">

                                    <validator [field]="form.textCreditCvv"></validator>
                                </div>
                                <div class="col">
                                    <div class="alert alert-info" role="alert">
                                        3 o 4 d&iacute;gitos en la parte posterior de la tarjeta
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <hr />
                <p>
                    Completa todo el formulario para poder finalizar el registro. Lo datos de tarjeta de cr&eacute;dito no son obligatorios para registrarte, pero si para poder realizar compras de los eventos deportivos.
                </p>
                <button type="submit" class="btn btn-info" [disabled]="formReg.form.invalid">Finalizar registro</button>
            </form>

            <div class="text-left" style="padding:0" *ngIf="saved">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">
                        <i class="fa fa-check"></i>&nbsp;Felicitaciones!
                    </h4>
                    <p>Te has registrado correctamente como usuario <strong>myuser</strong> en <strong>TouresBalon</strong>. Desde ahora podrás disfrutar de la compra de tus Eventos Deportivos deseados.</p>
                </div>
            </div>
        </div>
    </div>
</div>


