
<form [formGroup]="searchForm" (ngSubmit)="sendSearch()" class="form-search">
    <div class="form-inline">
        <div class="input-group">
            <div class="input-group-append show no-margin" id="button_event">
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{check.text}}
                </button>
                <div id="dropdown" class="dropdown-menu">
                    <a class="dropdown-item" (click)="changeFilter(1, 'Sin filtro')">Sin filtro</a>
                    <a class="dropdown-item" (click)="changeFilter(2, 'Buscar por c&oacute;digo')">C&oacute;digo</a>
                </div>
            </div>
            <select id="Busquedas" name="Busquedas"
                    placeholder="" formControlName="selectProducto">
                <option value="1">Sin filtro</option>
                <option value="2">c&oacute;digo</option>
            </select>
            <input type="{{check.id == 2 ? 'number': 'text'}}"
                   placeholder="{{check.id == 2 ? 'ingrese el c&oacute;digo': 'escriba el texto'}} a buscar"
                   formControlName="textSearch" class="form-control" id="input_event" aria-describedby="event">
        </div>
        <button type="submit" class="btn btn-info btn xs-desktop"><span class="fa fa-search"></span>&nbsp;Buscar</button>
        <button type="submit" class="btn btn-light btn xs-phone"><span class="fa fa-search"></span>&nbsp;Buscar</button>
    </div>
</form>

<detail-prod [item]="current" [modal]="'exampleModal1'" [callback]="update()"></detail-prod>
<div class="text-center fadeIn slow animated registration">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <page-title class="text-uppercase" [title]="'Reg&iacute;strate'"
                        [subtitle]="'Reg&iacute;strate para poder realizar las compras de tus eventos deportivos preferidos'">
            </page-title>
            <form [formGroup]="productForm" (ngSubmit)="sendProduct()" #formReg="ngForm">
                <div class="text-left">

                    <div class="step justify-content-md-center my-auto">
                        <div class="number bg-info justify-content-md-center my-auto">
                            <i class="fa fa-user"></i>
                        </div>
                        <p class="text">
                            Datos Producto
                        </p>
                    </div>
                    <div class="step justify-content-md-center my-auto">
                        <div class="form-group">
                            <label for="nombrep">Nombre Producto</label>
                            <input type="text" maxlength="20" [(ngModel)]="product.nombre" class="form-control" id="nombrep" formControlName="textNombreProduct" placeholder="">
                            <validator [field]="form.textNombreProduct"></validator>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label for="espectaculo">Fecha Espectaculo</label>
                                <input class="form-control" type="date" id="espectaculo" [(ngModel)]="product.fechaEspectaculo" name="fechaespectaculo" step="2" formControlName="fechaEspectaculo">
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label for="salida">Fecha Salida</label>
                                <input class="form-control" type="date" id="salida" name="salida" [ngModel]="product.fechaSalida" step="3" formControlName="fechaSalida">
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label for="regreso">Fecha Regreso</label>
                                <input class="form-control" type="date" id=" regreso" name="regreso" [ngModel]="product.fechaLlegada" step="4" formControlName="fechaRegreso">
                            </div>
                        </div>                      
                                <div class="form-group">
                                    <label for="espectaculo">Nombre Espectaculo</label>
                                    <input type="text" [(ngModel)]="product.espectaculo" class="form-control" id="espectaculo" name="espectaculo" formControlName="textEspectaculo" placeholder="">
                                    <validator [field]="form.textEspectaculo"></validator>
                                </div>
                                <div class="form-group">
                                    <label for="ciudad">Ciudad</label>
                                    <select id="ciudadespectaculo" name="ciudadespectaculo"
                                            [(ngModel)]="product.cuidadEspectaculo" class="form-control" placeholder="" formControlName="selectCiudad">
                                        <option *ngFor="let cit of citys" [value]="cit.id" value="{{product.cuidadEspectaculo}}">
                                            {{cit.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="preciociudad">Precio Ciudad</label>
                                    <input type="text" required maxlength="40" [(ngModel)]="product.precioCiudad" minlength="5" class="form-control" id="preciociudad" formControlName="textPrecioCiudad" placeholder="">
                                    <validator [field]="form.textPrecioCiudad"></validator>
                                </div>
                                <div class="form-group">
                                    <label for="precioproducto">Precio Producto</label>
                                    <input type="text" required maxlength="40" [(ngModel)]="product.valorProducto" minlength="6" class="form-control" id="precioproducto" formControlName="textPrecioProducto" placeholder="">

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                        <label for="rutaimg">Imagen a Almacenada</label>
                                        <img [src]="product.image" style="max-width:100px;max-height:100px" />
                                    </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                            <label for="rutaimg">Imagen a Cargar</label>                                            
                                            <img [src]="imageSrc" style="max-width:100px;max-height:100px" />
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                            <label for="rutaimg">File Upload</label>
                                            <input class="form-control-file" name="imageUrl" type="file" [(ngModel)]="inputFile" accept="image/*" (change)="handleInputChange($event)" />
                                        </div>
                                    </div>
                                </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="step justify-content-md-center my-auto">
                            <div class="number bg-info justify-content-md-center my-auto">
                                <i class="fa fa-user"></i>
                            </div>
                            <p class="text">
                                Datos Espectaculo
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="tipoespectaculo">Tipo Espectaculo</label>
                            <select id="tipoespectaculo" name="tipoespectaculo"
                                    [(ngModel)]="product.tipoEspectaculo" class="form-control" placeholder="" formControlName="selectTipoEspectaculo">
                                <option *ngFor="let typs of typespect" [value]="typs.id" value="{{product.tipoEspectaculo}}">
                                    {{typs.name}}
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="step justify-content-md-center my-auto">
                            <div class="number bg-info justify-content-md-center my-auto">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <p class="text">
                                Datos de Transporte
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="tipotransporte">Tipo Transporte</label>
                            <select id="tipotransporte" name="tipotransporte"
                                    [(ngModel)]="product.tipoTransporte" class="form-control" placeholder="" formControlName="selectTipoTransporte">
                                <option *ngFor="let typt of typetrans" [value]="typt.id" value="{{product.tipoTransporte}}">
                                    {{typt.name}}
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="step justify-content-md-center my-auto">
                            <div class="number bg-info justify-content-md-center my-auto">
                                <i class="fa fa-lock"></i>
                            </div>
                            <p class="text">
                                Datos de Hospedaje
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="tipohospedaje">Tipo Hospedaje</label>
                            <select id="tipohospedaje" name="tipohospedaje"
                                    [(ngModel)]="product.tipoHospedaje" class="form-control" placeholder="" formControlName="selectTipoHospedaje">
                                <option *ngFor="let typh of typehospedaje" [value]="typh.id" value="{{product.tipoHospedaje}}">
                                    {{typh.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="error.statusCode != 200">
                    <div class="alert alert-danger text-left">
                        <strong>Lo sentimos!</strong> Hubo un inconveniente al registrar el prodcuto: {{error.statusText}}
                    </div>
                </div>
                <hr />
                <p>
                    Completa todo el formulario para poder finalizar el registro. Lo datos de tarjeta de cr&eacute;dito no son obligatorios para registrarte, pero si para poder realizar compras de los eventos deportivos.
                </p>
                <button type="submit" (click)="sendProduct()" id="Guardar" aria-label="Close" class="btn btn-info">
                    Guardar
                </button>
                <button type="button" (click)="clearProduct()" aria-label="Close" class="btn btn-outline-dark">
                    Limpiar
                </button>
            </form>

            <!--<div class="text-left" style="padding:0" *ngIf="saved">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">
                        <i class="fa fa-check"></i>&nbsp;Felicitaciones!
                    </h4>
                    <p class="no-margin">Te has registrado correctamente como usuario <strong>{{newuser}}</strong> en <strong>TouresBalon</strong>. Desde ahora podrás disfrutar de la compra de tus Eventos Deportivos deseados.</p>
                </div>
                <div class="text-center">
                    <a href="#" [routerLink]="['/login', newuser]" class="btn btn-info">
                        Iniciar sesi&oacute;n
                    </a>
                </div>
            </div>-->
        </div>
    </div>
</div>
