<div class="text-center fadeIn slow animated">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <form [formGroup]="searchForm" (ngSubmit)="sendSearch()" class="form-search">
                        <div class="form-inline">
                            <div class="input-group">
                                <div class="input-group-append show no-margin" id="button_event">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{check.text}}
                                    </button>
                                    <div id="dropdown" class="dropdown-menu">
                                        <a class="dropdown-item" (click)="changeFilter(1, 'Sin filtro')">Sin filtro</a>
                                        <a class="dropdown-item" (click)="changeFilter(2, 'Buscar por c&oacute;digo')">C&oacute;digo</a>
                                    </div>
                                </div>
                                <input type="{{check.id == 2 ? 'number': 'text'}}"
                                       placeholder="{{check.id == 2 ? 'ingrese el c&oacute;digo': 'escriba el texto'}} a buscar"
                                       formControlName="textSearch" class="form-control" id="input_event" aria-describedby="event">
                            </div>
                            <button type="submit" class="btn btn-info btn xs-desktop"><span class="fa fa-search"></span>&nbsp;Buscar</button>
                            <button type="submit" class="btn btn-light btn xs-phone"><span class="fa fa-search"></span>&nbsp;Buscar</button>
                        </div>
                    </form>
                </li>
            </ul>
            <page-title class="text-uppercase" [title]="'Resultados de la b&uacute;squeda'"
                        [subtitle]="'Se encontraron ' + (search && search.data ? search.data.length : 0) + ' coincidencias para '"
                        [reference]="textSearch">
            </page-title>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="8" class="text-left">
                                    Productos
                                </th>
                            </tr>
                            <tr>

                                <th scope="col">#Espectaculo</th>
                                <!--<th scope="col">Id</th>-->
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha Espectaculo</th>
                                <th scope="col">Fecha Llegada</th>
                                <th scope="col">Fecha Salida</th>
                                <!--<th scope="col">Tarifa Espectaculo</th>
                                <th scope="col">Tarifa Hospedaje</th>
                                <th scope="col">Tarifa trasnporte</th>-->
                                <th scope="col">Pais</th>
                                <th scope="col">Precio Ciudad</th>
                                <th scope="col">Precio Espectaculo</th>
                                <th scope="col">Precio Hospedaje</th>
                                <th scope="col">Precio Trasnporte</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Valor Producto</th>
                                <th scope="col">&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of search.data" [ngClass]="{'row-selected': selected == item.id}">
                                <td scope="row" class="row-fil text-center">{{(item.espectaculo)}}</td>
                                <td scope="row" class="row-fil text-center">{{item.nombre}}</td>
                                <td scope="row" class="row-fil text-left">{{item.fechaEspectaculo | date: 'yyyy/MM/dd'}}</td>
                                <td scope="row" class="row-fil text-left">{{item.fechaLlegada | date: 'yyyy/MM/dd'}}</td>
                                <td scope="row" class="row-fil text-left">{{item.fechaSalida | date: 'yyyy/MM/dd'}}</td>
                                <!--<td scope="row" class="row-fil text-left">{{item.nombreTarifaEsp}}</td>
                                <td scope="row" class="row-fil text-left">{{item.nombreTarifaHosp}}</td>
                                <td scope="row" class="row-fil text-left">{{item.nombreTarifaTrans}}</td>-->
                                <td scope="row" class="row-fil text-left">{{item.pais}}</td>
                                <td scope="row" class="row-fil text-left">{{item.precioCiudad}}</td>
                                <td scope="row" class="row-fil text-left">{{item.precioEsp}}</td>
                                <td scope="row" class="row-fil text-left">{{item.precioHospedaje}}</td>
                                <td scope="row" class="row-fil text-left">{{item.precioTransporte}}</td>
                                <td scope="row" class="row-fil text-left">{{item.rutaImagen}}</td>
                                <td scope="row" class="row-fil text-left">{{item.valorProducto}}</td>
                                <td scope="row" class="row-fil text-center">
                                    <button class="btn btn-sm btn-danger" (click)="deleteProduct(item.id)" data-toggle="modal" data-target="#modalProduct_delete" [disabled]="item.state == 2">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <button *ngIf="!endPage" class="btn btn-info" (click)="getSearch(true)">
                <i class="fa fa-download"></i>&nbsp;Cargar m&aacute;s
            </button>
        </div>
    </div>
</div>
<detail-prod [item]="current" [modal]="'exampleModal1'" [callback]="update()"></detail-prod>
<div class="text-center fadeIn slow animated registration">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <page-title class="text-uppercase" [title]="'Reg&iacute;strate'"
                        [subtitle]="'Reg&iacute;strate para poder realizar las compras de tus eventos deportivos preferidos'">
            </page-title>
            <form *ngIf="!saved" [formGroup]="productForm" (ngSubmit)="sendProduct()" #formReg="ngForm">
                <div class="text-left">
                    <div class="step justify-content-md-center my-auto">
                        <div class="number bg-info justify-content-md-center my-auto">
                            <i class="fa fa-user"></i>
                        </div>
                        <p class="text">
                            Datos Producto
                        </p>
                    </div>                  

                    <div class="step justify-content-md-center my-auto">
                        <div class="form-group">
                            <label for="nombrep">Nombre Producto</label>
                            <input type="text" maxlength="20" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="nombrep" formControlName="textNombreProduct" placeholder="">
                            <validator [field]="form.textNombreProduct"></validator>                            
                        </div>
                        <div class="form-group">
                            <label for="valorproducto">Valor Producto</label>
                            <input type="text" maxlength="20" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="valorproducto" formControlName="textValueProduct" placeholder="">
                            <validator [field]="form.textValueProduct"></validator>
                        </div>

                        <label for="espectaculo">Fecha Espectaculo</label>
                        <input type="date" id="espectaculo" name="fechaespectaculo" min="2018-11-04" max="2020-05-25" step="2" formControlName="fechaEspectaculo">
                        <label for="salida">Fecha Salida</label>
                        <input type="date" id="salida" name="salida" min="2018-11-04" max="2020-05-25" step="3" formControlName="fechaSalida">
                        <label for="regreso">Fecha Regreso</label>
                        <input type="date" id=" regreso" name="regreso" min="2018-11-04" max="2020-05-25" step="4" formControlName="fechaRegreso">

                        <div class="form-group">
                            <label for="espectaculo">Nombre Espectaculo</label>
                            <input type="text" required maxlength="20" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="espectaculo" name="espectaculo" formControlName="textEspectaculo" placeholder="">
                            <validator [field]="form.textEspectaculo"></validator>
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <select id="ciudadespectaculo" name="ciudadespectaculo" 
                                    [(ngModel)]="citys"class="form-control" placeholder="" formControlName="selectCiudad">
                                <option *ngFor="let cit of citys" [value]="cit.id">
                                    {{cit.name}}
                                </option>
                                </select>
                            
                        </div>
                        <div class="form-group">
                            <label for="country">Pais</label>
                            <input type="text" required maxlength="40" minlenth="5" class="form-control" id="country" formControlName="textCountry" placeholder="">
                            <validator [field]="form.textCountry"></validator>
                        </div>
                        <div class="form-group">
                            <label for="preciociudad">Precio Ciudad</label>
                            <input type="text" required maxlength="40" minlength="5" class="form-control" id="preciociudad" formControlName="textPrecioCiudad" placeholder="">

                            <validator [field]="form.textPrecioCiudad"></validator>
                        </div>
                        <div class="form-group">
                            <label for="rutaimg">Imagen</label>
                            <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="rutaimg" formControlName="textRutaimg" placeholder="">

                            <validator [field]="form.textRutaimg"></validator>
                        </div>
                        <div class="form-group">
                            <label for="precioproducto">Precio Producto</label>
                            <input type="text" required maxlength="40" minlength="6" class="form-control" id="precioproducto" formControlName="textPrecioProducto" placeholder="">

                            <validator [field]="form.textPrecioProducto"></validator>
                        </div>
                    </div>               

                </div>
                
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                            <div class="step justify-content-md-center my-auto">
                                <div class="number bg-info justify-content-md-center my-auto">
                                    <i class="fa fa-user"></i>
                                </div>
                                <p class="text">
                                    Datos Espectaculo
                                </p>
                            </div>                            
                            <div class="form-group">
                                <label for="tipoespectaculo">Tipo Espectaculo</label>
                                <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="tipoespectaculo" formControlName="textTipoEspectaculo" placeholder="">

                                <validator [field]="form.textTipoEspectaculo"></validator>
                            </div>
                            <div class="form-group">
                                <label for="nombreespectaculo">Nombre Espectaculo</label>
                                <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="nombreespectaculo" formControlName="textNombreEspectaculo" placeholder="">

                                <validator [field]="form.textNombreEspectaculo"></validator>
                            </div>
                            <div class="form-group">
                                <label for="precioespectaculo">Precio Espectaculo</label>
                                <input type="email" required maxlength="40" minlength="6" class="form-control" id="precioespectaculo" formControlName="textPrecioEspectaculo" placeholder="">

                                <validator [field]="form.textPrecioEspectaculo"></validator>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                            <div class="step justify-content-md-center my-auto">
                                <div class="number bg-info justify-content-md-center my-auto">
                                    <i class="fa fa-address-card"></i>
                                </div>
                                <p class="text">
                                    Datos de Transporte
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="tipotransporte">Tipo Transporte</label>
                                <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="tipotransporte" formControlName="textTipoTransporte" placeholder="">

                                <validator [field]="form.textTipoTransporte"></validator>
                            </div>
                            <div class="form-group">
                                <label for="nombretransporte">Nombre Transporte</label>
                                <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="nombretransporte" formControlName="textNombreTransporte" placeholder="">

                                <validator [field]="form.textNombreTransporte"></validator>
                            </div>
                            <div class="form-group">
                                <label for="preciotrasporte">Precio Trasporte</label>
                                <input type="text" required maxlength="40" minlength="6" class="form-control" id="preciotrasporte" formControlName="textPrecioTrasporte" placeholder="">

                                <validator [field]="form.textPrecioTrasporte"></validator>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 text-left">
                            <div class="step justify-content-md-center my-auto">
                                <div class="number bg-info justify-content-md-center my-auto">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <p class="text">
                                    Datos de Hospedaje
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="tipohospedaje">Tipo Hospedaje</label>
                                <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="tipohospedaje" formControlName="textTipoHospedaje" placeholder="">

                                <validator [field]="form.textTipoHospedaje"></validator>
                            </div>
                            <div class="form-group">
                                <label for="nombrehospedaje">Nombre Hospedaje</label>
                                <input type="text" required maxlength="40" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="nombrehospedaje" formControlName="textNombreHospedaje" placeholder="">

                                <validator [field]="form.textNombreHospedaje"></validator>
                            </div>
                            <div class="form-group">
                                <label for="preciohospedaje">Precio Hospedaje</label>
                                <input type="text" required maxlength="40" minlength="6" class="form-control" id="preciohospedaje" formControlName="textPrecioHospedaje" placeholder="">

                                <validator [field]="form.textPrecioHospedaje"></validator>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="error.statusCode != 200">
                        <div class="alert alert-danger text-left">
                            <strong>Lo sentimos!</strong> Hubo un inconveniente al registrar el prodcuto: {{error.statusText}}
                        </div>
                    </div>
                    <hr />
                    <p>
                        Completa todo el formulario para poder finalizar el registro. Lo datos de tarjeta de cr&eacute;dito no son obligatorios para registrarte, pero si para poder realizar compras de los eventos deportivos.
                    </p>
                    <button type="submit" class="btn btn-info" [disabled]="formReg.form.invalid">Finalizar registro</button>
</form>

            <div class="text-left" style="padding:0" *ngIf="saved">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">
                        <i class="fa fa-check"></i>&nbsp;Felicitaciones!
                    </h4>
                    <p class="no-margin">Te has registrado correctamente como usuario <strong>{{newuser}}</strong> en <strong>TouresBalon</strong>. Desde ahora podrás disfrutar de la compra de tus Eventos Deportivos deseados.</p>
                </div>
                <div class="text-center">
                    <a href="#" [routerLink]="['/login', newuser]" class="btn btn-info">
                        Iniciar sesi&oacute;n
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
