<div id="home_page" class="text-center fadeIn slow animated">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <page-title class="text-uppercase xs-desktop" [title]="'Mira las campa&ntilde;as actuales'"
                        [subtitle]="'Reg&iacute;strate y aprovecha las ofertas para viajar y disfrutar de los mejores eventos deportivos'">
            </page-title>

            <div id="carouselCampaign" class="carousel slide carousel-fade xs-desktop" data-ride="carousel" data-interval="7000">
                <ol class="carousel-indicators">
                    <li *ngFor="let item of campaign.data; let ix = index" data-target="#carouselCampaign" [attr.data-slide-to]="ix" [ngClass]="{'active': ix==0}"></li>
                </ol>
                <div class="carousel-inner">
                    <div *ngFor="let item of campaign.data; let ix = index" class="carousel-item" [ngClass]="{'active': ix==0}">
                        <img class="d-block w-100" src="{{(item.image)}}" alt="slide {{ix}}" />
                        <div class="carousel-caption d-none d-md-block home-campaign">
                            <h1 class="text-shadow title"><strong>{{item.name}}</strong></h1>
                            <h3 class="text-shadow date"><strong>Desde {{item.startDate | date}} hasta {{item.endDate | date}}</strong></h3>
                            <!--<button class="btn btn-info" *ngIf="!authorize">
                                Reg&iacute;strate!
                            </button>-->
                            <button class="btn btn-light" (click)="goToCampaign(item.id)">
                                <strong>Ver oferta</strong>
                            </button>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselCampaign" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
                <a class="carousel-control-next" href="#carouselCampaign" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
            </div>
