
<div class="text-center fadeIn slow animated">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <page-title class="text-uppercase" [title]="'Resultados de la b&uacute;squeda'"
                        [subtitle]="'Se encontraron ' + (search && search.data ? search.data.length : 0) + ' coincidencias para '"
                        [reference]="textSearch">
            </page-title>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="8" class="text-left">
                                    Compa&ntilde;as
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha Inicial</th>
                                <th scope="col">Fecha Final</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of search.data">
                                <td scope="row" class="row-fil text-center">{{item.nombre}}</td>
                                <td scope="row" class="row-fil text-left">{{item.fechaInicial | date: 'yyyy/MM/dd'}}</td>
                                <td scope="row" class="row-fil text-left">{{item.fechaFin | date: 'yyyy/MM/dd'}}</td>
                                <td scope="row" class="row-fil text-left">{{item.rutaImagen}}</td>
                                <td scope="row" class="row-fil text-center">
                                    <button class="btn btn-sm btn-danger" (click)="deletecampaign(item.id)" data-toggle="modal" data-target="#modalOrder_delete" [disabled]="item.state == 2">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <button *ngIf="!endPage" class="btn btn-info" (click)="getCampaign()">
                <i class="fa fa-download"></i>&nbsp;Cargar m&aacute;s
            </button>
        </div>
    </div>
</div>
<detail-prod [item]="current" [modal]="'exampleModal1'" [callback]="update()"></detail-prod>
<div class="text-center fadeIn slow animated registration">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <page-title class="text-uppercase" [title]="'Reg&iacute;strate'"
                        [subtitle]="'Reg&iacute;strate para poder realizar las compras de tus eventos deportivos preferidos'">
            </page-title>
            <form [formGroup]="campaingForm" (ngSubmit)="sendProduct()" #formReg="ngForm">
                <div class="text-left">
                    <div class="step justify-content-md-center my-auto">
                        <div class="number bg-info justify-content-md-center my-auto">
                            <i class="fa fa-user"></i>
                        </div>
                        <p class="text">
                            Datos Campa&ntilde;a
                        </p>
                    </div>

                    <div class="step justify-content-md-center my-auto">
                        <div class="form-group">
                            <label for="nombre">Nombre Campa&ntilde;a</label>
                            <input type="text" required maxlength="20" minlength="10" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="nombre" name="nombre" formControlName="textNombre" placeholder="">
                            <validator [field]="form.textNombre"></validator>

                        </div>

                        <label for="campana">Fecha Incial Campa&ntilde;a</label>
                        <input type="date" name="fechaIni" min="2018-11-04" max="2020-05-25" step="2" formControlName="fechaIni">
                        <label for="campana">Fecha Fin Campa&ntilde;a</label>
                        <input type="date" name="fechaFin" min="2018-11-04" max="2020-05-25" step="3" formControlName="fechaFin">

                        <!--<div class="form-group">
                            <label for="rutaimg">Imagen</label>
                            <img [src]="product.image" style="max-width:100px;max-height:100px" />
                            <img [src]="imageSrc" style="max-width:100px;max-height:100px" />
                            <input name="imageUrl" type="file" [(ngModel)]="inputFile" accept="image/*" (change)="handleInputChange($event)" />
                            <button class="btn btn-sm btn-primary" (click)="cargarImagen()">Cargar</button>
                        </div>-->
                    </div>

                </div>
                <div *ngIf="error.statusCode != 200">
                    <div class="alert alert-danger text-left">
                        <strong>Lo sentimos!</strong> Hubo un inconveniente al registrar la campa&ntilde;a: {{error.statusText}}
                    </div>
                </div>
                <hr />
                <p>
                    Completa todo el formulario para poder finalizar el registro. Lo datos de tarjeta de cr&eacute;dito no son obligatorios para registrarte, pero si para poder realizar compras de los eventos deportivos.
                </p>
                <button type="submit" (click)="sendProduct()" id="Guardar" aria-label="Close" class="btn btn-info">
                    Guardar
                </button>
                <!--<button type="button" (click)="clearProduct()" aria-label="Close" class="btn btn-outline-dark">
                    Limpiar
                </button>-->
            </form>

            <!--<div class="text-left" style="padding:0" *ngIf="saved">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">
                        <i class="fa fa-check"></i>&nbsp;Felicitaciones!
                    </h4>
                    <p class="no-margin">Se a actualizado el sistema correctamente.</p>
                </div>
                <div class="text-center">
                    <a href="#" [routerLink]="['/login', newuser]" class="btn btn-info">
                        Iniciar sesi&oacute;n
                    </a>
                </div>
            </div>-->
        </div>
    </div>
</div>