<div class="row justify-content-md-center h-menu button-menu">
    <div class="col-md-11">
        <div class="row">
            <div class="xs-no-padding" style="padding-top:10px;">
                <div class="dropdown float-left xs-no-margin">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" [routerLink]="['/home']">Inicio</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/campaign']">Campa&ntilde;as</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/report']">Reportes Orden</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/reportCliente']">Reportes Cliente</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/product']">Productos</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/productC']">Consultas Productos </a>
                        <a class="dropdown-item" href="#" [routerLink]="['/customer']">Clientes</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/customerP']">Clientes x Producto</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/user']">Usuarios</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/order']">Ordenes</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/customer']">Reg&iacute;strate</a>
                        <a class="dropdown-item" href="http://localhost:62440/Reporte/ReporteIndex" target="_blank">Reporte</a>
                    </div>
                </div>
            </div>
            <div class="xs-no-padding">
                <ul class="nav justify-content-start">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link title" href="#" style="padding-left:0">
                            <i class="fa fa-futbol-o text-info"></i>
                            &nbsp;TOURES BALON
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center h-menu">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2" style="padding-left:0">
                <ul class="nav justify-content-start">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link title" href="#" style="padding-left:0; padding-top: 5px;">
                            <div style="float:left;">
                                <i class="fa fa-futbol-o text-info" style="font-size:28px"></i>
                            </div>
                            <div style="float:left; padding:5px;">
                                <span>&nbsp;TOURES BALON OMS</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-10" style="padding-right:0">
                <ul class="nav justify-content-end">
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="!authenticate.status">
                        <a [routerLink]="['/home']" class="nav-link" href="#">Inicio</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/campaign']" class="nav-link" href="#">Campa&ntilde;as</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/report']" class="nav-link" href="#">Reportes Orden</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/reportCliente']" class="nav-link" href="#">Reportes Cliente</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/order']" class="nav-link" href="#">Ordenes</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/productC']" class="nav-link" href="#">Consulta Productos</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status && isAdmin">
                        <a [routerLink]="['/product']" class="nav-link" href="#">Productos</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/customer']" class="nav-link" href="#">Cliente</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/customerP']" class="nav-link" href="#">Clientes x Producto</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/user']" class="nav-link" href="#">Usuarios</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="!authenticate.status">
                        <a [routerLink]="['/customer']" class="nav-link" style="padding-right:0" href="#">Reg&iacute;strate</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item">
                        <a [routerLink]="['/login']" class="nav-link" style="padding-right:0" href="#">Iniciar sesi&oacute;n</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item">
                        <a class="nav-link" href="http://localhost:62440/Reporte/ReporteIndex" target="_blank">Reporte</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item" *ngIf="authenticate.status">
                        <a [routerLink]="['/user']" class="nav-link nav-user" href="#" style="text-transform: capitalize">
                            <strong>
                                {{authenticate.names}}
                            </strong>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="authenticate.status">
                        <a class="nav-link text-danger" [routerLink]="['/logout']" style="padding-right:0;">
                            <strong>
                                <i class="fa fa-power-off"></i>&nbsp;Salir
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a *ngIf="products.length > 0" class="content-cart bg-danger text-center pulse animated" [routerLink]="['/store']" href="#">
    <i class="fa fa-shopping-cart text-shadow"></i>&nbsp;
    <strong>{{products.length}}</strong>&nbsp;Eventos Agregados
</a>
