<div class="item-prod">
    <div class="image item-box">
        <div *ngIf="rating == 5" class="item-ribbon"><span>POPULAR</span></div>
        <p class="price">{{price | currency:'COP':true:'2.0'}}</p>
        <img [src]="image" />
    </div>
    <div class="text-left">
        <small class="text-warning">{{date}}</small>
        <p class="title">{{title}}</p>
        <p [innerHTML]="description" class="description">

        </p>
        <div class="rating">
            <small *ngIf="rating == 1">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </small>
            <small *ngIf="rating == 2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </small>
            <small *ngIf="rating == 3">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </small>
            <small *ngIf="rating == 4">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </small>
            <small *ngIf="rating == 5">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </small>
        </div>
        <div class="buttons">
            <button class="btn btn-danger btn-sm">
                <i class="fa fa-plus"></i>&nbsp;Lo quiero!
            </button>
            <button class="btn btn-outline-dark btn-sm">
                Detalles
            </button>
        </div>
    </div>
</div>