.campaign {
    background-size: cover;
    background-repeat:no-repeat;
    height: 350px;
    border-radius: 3px;
    cursor:pointer;
}

.content-campaign {
    padding: 5px;
}

.text-campaign {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding: 25px;
    color: #ffffff;
    opacity: 0.75;
    border-radius: 0 0 3px 3px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .xs-padding-campaign-title{
        padding-left:15px;
        padding-right:15px;
    }
    .xs-no-padding-campaign{
        padding:0 !important;
    }
}