<div id="logout_page" class="text-center fadeIn slow animated logout">
    <div class="row justify-content-md-center no-margin">
        <div class="col-lg-11 col-md-11 col-sm-12 home">
            <div style="margin-top:50px;">
                <h2>
                    Has cerrado tu sesi&oacute;n
                </h2>
                <br />
                <a class="btn btn-outline-dark btn-lg" [routerLink]="['/home']" href="#">
                    Aceptar
                </a>
            </div>
        </div>
    </div>
</div>

